extends ../../layout
block content
    include ../../navigation
    //- 기본 trainee info 보여줄 것
    //- =>trainee의 username email
    //- 담당 trainer 정보 간단하게. + trainee의 계약 정보
    //- => trainer의 username, email, 상세보기 버튼(경로는 "/employ/")
    //- Body Profile + note
    //- 