extends layout
block content
  div.container.text-center
  - if(title === "Someone")
    a(href="/users/signin") Sign in
    br
    a(href="/users/signup") Sign up
  - else
    include navigation
  h1= title
  p Welcome to PTing
