//- employ -> 트레이너들 소개 및 고용 하는 페이지의 index. TrainerList 출력.

extends ../layout
block content
    include ../navigation
    .container-fluid
        p
            h1   Trainer List
        .row
            .col-md-12
                table.table.table-bordered
                    thead
                        tr
                            th #
                            th Name
                            th E-mail
                    tbody
                        each row in rows.rows    
                            - const rowData=row.dataValues;
                            tr
                                td=rowData.id
                                td
                                    a(href=`/employ/${rowData.id}`)=rowData.user.dataValues.username
                                td=rowData.user.dataValues.email