extends ../layout
block content
    h1 Who Are You??
    p
        a.btn.btn-primary(href='/users/signup/1') Trainer!
    br
    br
    p
        a.btn.btn-primary(href='/users/signup/2') Trainee!
    br
    br
    p
        a(href='/') Go Back!
