//- mypage -> 본인 정보 해주는 페이지들의 index. trainer인지 trainee인지에 따라 다르게 보여줌.
//- 임시로 이렇게 index로 만들어놨지만, 실제로는 redirect 통해서 애초에 trainer 또는 trainne 주소로 가게 해서 다른 렌더링 해준다.
extends ../layout
block content
    include ../navigation
    p This is Index Page!!